{% extends 'gamazon/base.html' %}
{%block content%}
	<div class="w3-container" style="padding:128px 16px" id="about">
	  <h3 class="w3-center">ABOUT THE COMPANY</h3>
	  <p class="w3-center w3-large">Key features of our company</p>
	  <div class="w3-row-padding w3-center" style="margin-top:64px">
	    <div class="w3-third">
	      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
	      <p class="w3-large">Responsive</p>
	      <p>We respond to the changing world by frequently upgrading ourselves.</p>
	    </div>
	    <div class="w3-third">
	      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
	      <p class="w3-large">Passion</p>
	      <p>To make everyone in the world experience the joy of playing.</p>
	    </div>
	    <div class="w3-third">
	      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
	      <p class="w3-large">Support</p>
	      <p>Mail us at<br>gamazon@game.com.</p>
	    </div>
	  </div>
	</div>
{%endblock content%}
